body{
    font-family: "Source Sans Pro",sans-serif;
}
#hero{
    background: url("../vendor/img/french-bull.jpg") no-repeat center center;
    height: 100vh;
    width: auto;
    background-size: cover;
    background-attachment: fixed;
    z-index: 994;
}
.header{
    padding-top: 15px;
    transition: all 0.3s ease;
    width: 100%;
    height: 100px;
}
#header .container .nav-menu li{
    list-style: none;
    display: inline;
}
#header .container .nav-menu li a {
    text-decoration: none;
}
#header .container .nav-menu li .nav-link{
    font-size: 15px;
    display: inline;
    font-weight: 0;
    color: #fff;
    letter-spacing:  0.1rem;
    margin-right: 10px;
    transition: all ease 0.4s;
}


.header h1{
    margin-top: -10px;
}
.nav-menu{
    padding-top: 25px !important;
}

/*  For Menu btn Styling*/
@media(min-width: 801px){
    .menu-btn{
        display: none;
    }
    .header.sticky h1 img{
        margin-top: -35px !important;
        transition: all ease 0.4s;
    }
    .header.sticky .menu.active .nav-link{
        display: inline !important;
    }
    .header .menu.active .nav-link{
        display: inline !important;
    }

}
@media(max-width:800px){
     #header .menu{    
        width: 100%;
        background: #a6a5a3;
        height: 110vh;
        position: fixed;
        margin-top: -40px;
        left: 100%;
        padding-top: 100px;
        display: block;
        text-align: center;
        transition: all ease-in-out 0.4s;
        z-index: 990;
        top: -10px;
    }
    
    .menu a{
        padding-top: 40px;
        display: none !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0%;
        margin-top: 40px;
        margin-bottom: 30px;
        width: auto;
        justify-content: center;
        font-size: 22px !important;
    }
    #header{
        padding-top: 0;
    }
    #header .menu.active{
        left: 0;
        top: -10px;
    }
    #header h1 img{
        margin-left: 10px;
        padding-top: 30px;
    }
}

.menu-btn{
    color: #fff;
    position: fixed;
    z-index: 999;
    margin-left: -30px;
    margin-top: 15px;
    font-size: 22px;
}
.menu-btn i.active:before{
    content: "\f00d";
    z-index: 999;
}
.menu.active .nav-link{
    display: block !important;
    justify-content: center;
}
.navbar ul.menu.active:before{
    left: 100%;
}
.header h1 img{
    position: fixed;
    z-index: 981;
}
.header.sticky{
    position: fixed;
    z-index: 980;
    background: #37b9f1;
    background: Linear-gradient( 200deg, #406BD8 0%, #9CDBEF 100%);
    height: 80px;
    width: 100%;
}
.header.sticky h1 img{
    padding-top: 15px !important;
    transition: all ease 0.4s;
}
.header.sticky .menu{
    margin-top: -10px !important;
    transition: all ease 0.4s;
}
.header.sticky .menu-btn{
    margin-top: -2px !important;
    transition: all ease 0.4s;
}
#display{
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
}
#display .row{
    width: 100%;
    padding-top: 8rem;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
#display .dog-mag-cover{
    /* height: 684.2px; */
    width: 100%;
}
#display .row .head-container .head-text{
    color: #1f2021;
    font-weight: 400;
    font-size: 2.57143em;
    display: block;
    text-align: center;
}
#display .row .price-container{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#display .row .price-container .price-txt{
    font-size: 1.28571em;
    color: #1f2021;
    padding-top: 10px;
}

#display .divider-container .divider{
    width: 50px;
    border: solid #1f2021 0.8px;
}

#display .row .button-container{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

#display .row .button-container a{
    text-decoration: none;
}

#display .row .button-container .addtocart{
    font-size: 13px;
    color: #1f2021;
    border: solid 1px #1f2021;
    border-radius: 15px;
    padding: 12px 30px;
    letter-spacing: 0.1rem;
    cursor: default;
}
/* For Hover effect of the button*/
#display .row .button-container .addtocart:hover{
    background: #1f2021;
    color: #fff;
    transition: all ease 0.4s;
}
#display .row .button-container .buynow{
    font-size: 0.92857em;
    color: #fff;
    border: solid 1px #1f2021;
    border-radius: 15px;
    padding: 12px 30px;
    background: #1f2021;
    letter-spacing: 0.1rem;
    cursor: default;
}
/* For Hover effect of the button*/
#display .row .button-container .buynow:hover{
    background: transparent;
    color: #1f2021;
    transition:  all ease 0.4s;
}
#display .row .readmore-container{
    padding-top: 80px;
    width: 100%;
}
#display .row .readmore-container a{
    text-decoration: none;
    cursor: default;
}

#display .row .readmore-container .readmore{
    color: #a6a5a3;
    display: flex;
    justify-content: center;
}
#display .row .readmore-container .readmore:hover{
    color: #1f2021;
    transition: all ease 0.4s;
}

#display .col-md-6 .row{
    padding-top: 45px;
    padding-right: 2%;
    padding-left: 2%;
}
#display .social-container{
    /* padding-left: 40px; */
    display: flex;
    justify-content: center;
    padding-left: 10%;
}
#display .social-container a{
    text-decoration: none;
    color: #1f2021;
}
#display .social-container .col-sm-4:hover{
    transform: scale(1.08);
    transition: all ease-in-out 0.4s;
}
#display .social-container i::before{
    font-size: 14px;
    position: relative;
    top: 2px;
}
#display .social-container span{
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 400;
    font-size: 12px;
}
#display .divider-container.second{
    position: relative;
    top: 80px;
}
#display .divider-container.second .divider{
    width: 50px;
    border: solid #1f2021 0.1px;
    color: #1f2021;
    background: #1f2021;
}    

/*
    Responsive media queires startedS
*/
@media(max-width:780px){
    #display{
        height: 100%;
        padding-bottom: 20%;
    }
    #display .row{
        padding-top: 6rem;
        align-items: center;

    }
    
    #display .dog-mag-cover{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        
    }

    #display .row .head-container .head-text{
        padding-top: 2rem;
    }
}
@media(max-width:600px){
    #display{
        height: 100% !important;
        padding-bottom: 15%;
    }
    #display .social-container{
        padding-left: 0 ;
    }
    #display .social-container .row{
        padding-left: 0;
        padding-right: 0;
    }
    #display .social-container .col-sm-4{
        width: auto;
    }
}
@media(max-width:500px){
    #display{
        height: 100% !important;
        padding-bottom: 15%;
    }
}
@media(max-width:420px){
    #display{
        height: 100% !important;
    }
}
@media(max-width:340px){
    #display .button-container .addtocart,.buynow{
        padding: 10px 20px !important;
        font-size: 0.73em !important;
    }
}

/*  Footer Section Styling  */
#footer{
    width: 100%;
    height: 190px;
}
#footer .social-container{
    padding-left: 10%;
    padding-top: 40px;
}
#footer .social-container ul{
    list-style: none;
    padding-left: 0;
}
#footer .social-container a{
    text-decoration: none;
    font-weight: 500;
    color: #1f2021;
    font-size: 14px !important;
}
/* 
---------------Contact styling
*/
.hero.contact{
    background: #fff !important;
    height: 100px !important;
}
.hero.contact .header .nav-link{
    color: #1f2021 !important;
}
.hero.contact .header .menu-btn{
    color: #1f2021 !important;
}
.hero.contact .header.sticky .nav-link{
    color: #fff !important;
}
.hero.contact .header.sticky .menu-btn{
    color: #fff !important;
}
/* Contact Form Styling  */
#contact{
    width: 100%;
    height: 110vh;
    padding-top: 60px;
}
#contact h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
}
#contact .divider-container{
    padding-top: 40px;
}
#contact .divider-container hr{
    width: 60px;
    color: #1f2021;
    background: #1f2021;
    border: 0.1px #1f2021 solid;
}
#contact form{
    padding-top: 50px;
}
#contact .txt-col input{
    width: 310.89px; 
    height: 46px;
    display: flex;
    background: #f6f6f6;
    border: transparent 1px solid;
    border-radius: 4px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* Input Hovering */
#contact .txt-col input:hover{
    border: #1f2021 solid 1px;
    border-radius: 4px;
}
#contact .txt-col .message:hover{
    border: #1f2021 solid 1px;
    border-radius: 4px;
}
#contact .txt-col .email{
    margin-top: 11px;
}
#contact .txt-col .phone{
    display: flex;
    margin-top: 11px;
}
#contact .txt-col .message{
    display: flex;
    margin-top: 11px;
    width: 100%;
    background: #f6f6f6;
    border-radius: 4px;
    border: 1px transparent solid;
    height: 200px;
    padding-left: 15px;
    padding-top: 10px;
    /* margin-left: auto;
    margin-right: auto; */
}
#contact .btn-container{
    display: flex;
    justify-content: right;
    padding-top: 10px;
}
#contact .btn{
    background: transparent;
    color: #1f2021;
    text-transform: uppercase;
    padding: 12px 30px;
    font-size: 14.85712px;
    border-radius: 18px;
    border: #1f2021 solid 1.6px;
    margin-left: auto;
    margin-right: 0;
}
#contact .btn:hover{
    background: #1f2021;
    color: #fff;
    transition: all ease-in-out 0.4s;
}
/* Responsive Designing for Contact Section */
@media(min-width:992px){
    #contact form .txt-col{
        margin-left: 25%;
        margin-right: 25%;
    }
}
@media(max-width:992px){
    #contact form .txt-col{
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media(max-width:460px){
    #contact form .txt-col{
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* 
---------------Shop styling
*/
.hero.shop{
    background: #fff !important;
    height: 100px !important;
}
.hero.shop .header .nav-link{
    color: #1f2021 !important;
}
.hero.shop .header .menu-btn{
    color: #1f2021 !important;
}
.hero.shop .header.sticky .nav-link{
    color: #fff !important;
}
.hero.shop .header.sticky .menu-btn{
    color: #fff !important;
}
#shop-hero{
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
#shop-hero h1{
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    padding-top: 20px;
}
#shop-hero .divider-container{
    padding-top: 10px;
    padding-bottom: 40px;
}
#shop-hero .divider-container hr{
    width: 60px;
    background: #1f2021;
}
#shop-hero .img-container{
    margin-left: 10%;
    margin-right: 10%;
}
#shop-hero .img-container .content{
    display: flex;
    /* background: #37b9f1; */
    width: 100%;
    flex-direction: row;
}
#shop-hero .mag-container{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#shop-hero .mag-container img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 210.67px;
}
#shop-hero .mag-container p{
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #1f2021;
    margin-top: 3px;
}
#shop-hero .mag-container span{
    font-size: 14px;
}
#shop-hero .mag-container.ghost{
    visibility: hidden;
}
/* Responsive Design For Shop Page */
@media(max-width:880px){
    #shop-hero .img-container{
        margin-right: 8%;
        margin-left: 8%;
    }   
}
@media(max-width: 801px){
    #shop-hero .img-container .content{
        display: flex;
        flex-direction: column !important;
    }
    #shop-hero .content .mag-container.ghost{
        display: none;
    }
}